
body{
    background-color: hsl(333, 100%, 95%);
    height: 100vh;
}

.body{
    background-color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    padding: 20px;
    width: 50%; 
    margin: 50px auto; 
    border-radius: 15px;
}
.body img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    border-radius: 15px; 
    margin-bottom: 16px;
}
p{
    font-size: 16px;
}
h3,
h4{
    color:hsl(332, 51%, 32%);
}
hr{
        border: 0;                
        height: 1px;              
        background: #000000;         
        margin: 2em 0;            
        opacity: 0.5;               
}
table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top : 15px; 
  }
  
  tr {
    border-bottom: 1px solid #000000; 
  }
  
  td {
    padding: 12px 15px; 
  }
  
  td:nth-child(2) {
    color: #7b284f; 
    font-weight: bold; 
  }
  
  tr:last-child {
    border-bottom: none;
  }

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }